html, body {
  color: #494847;
  background-color: #f3f2f1;
  margin: 0;
  padding: 0;
  height: 100%;
}

.popup {
  min-width: 450px;
  height: 600px;
  display: flex;
}

.no-pointer-events {
  pointer-events: none;
}

.not-allowed-cursor {
  cursor: not-allowed;
}

.full-height {
  height: 100%;
  flex: 1;
}

.margin-vertical {
  margin-top: 12px;
  margin-bottom: 12px;
}

.margin-top {
  margin-top: 12px;
}

.margin-bottom {
  margin-bottom: 12px;
}

.margin-right-s {
  margin-right: 5px;
}

.margin-top-s {
  margin-top: 5px;
}

.margin-left-s {
  margin-left: 5px;
}

.margin-full {
  margin: 12px;
}

.padding-full {
  padding: 12px;
}

.padding-top-s {
  padding-top: 5px;
}

.padding-bottom-s {
  padding-bottom: 5px;
}

.box {
  background-color: #fff;
  padding: 12px;
}

.green-bg {
  background-color: rgb(33, 143, 53);
  color: rgb(243, 242, 241);
}

.logo {
  font-size: 2em;
}

.logo img {
  width: 1em;
  height: 1em;
}

.setup-details {
  line-height: 1.5em;
}

.setup-details small {
  color: lightgray;
  font-weight: 600;
}

.error {
  fill: #cc1111;
  color: #cc1111;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.horizontal-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.centered-v {
  align-items: center;
}

.centered {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1040;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
}

.selector-active {
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 200px;
  z-index: 1040;
  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.unselectable {
  user-select: none;
}

.config-editor {
  flex: 1 1 auto;
  overflow-y: auto;
  height: 0px;
}

.config-editor table {
  border: none;
  border-collapse: collapse;
}

.config-editor table th {
  font-weight: 600;
}

.config-editor table tr, td {
  cursor: default;
  height: 32px;
  min-width: 120px;
}

.config-editor table th {
  text-align: left;
}

.config-editor table td .delete-icon {
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(0.7) translate(40%, -40%);
}

.config-editor table td {
  position: relative;
  text-align: center;
  padding: 0 5px;
  background-color: rgba(0, 0, 0, 0.025);
}

.config-editor table td.none {
  background-color: transparent;
  opacity: 0.5;
}

.config-editor table td.empty {
  color: transparent;
  user-select: none;
}

.config-editor table td>div {
  padding: 3px;
  background-color: #eee;
}

.config-editor table tr td:not(:last-of-type) {
  border-right: 1px solid #ccc;
}
